
<div class="flex h-screen justify-center">
    <form (ngSubmit)="submitRegister()" #myForm="ngForm" class="p-4 rounded-lg border m-auto w-1/3" >
        <h1 class="text-center text-xl">Login</h1>
        <div class="my-5 w-full" >
            <label for="email">Email</label>
            <input type="email" id="email" class="p-2 rounded w-full border"
                    placeholder="Email Address" [(ngModel)]="form.email" name="email"
                    #email="ngModel" required
            />
        </div>
        <p *ngIf="email.valid && (email.dirty ||email.touched)" class="text-red-800 text-sm">Please enter valid email</p>
        <div class="my-5 w-full">
            <label for="password">Password</label>
            <input type="password" id="password" class="p-2 rounded  w-full border"
                    placeholder="Password" [(ngModel)]="form.password"  name="password"
                    #password="ngModel" required 
            />
        </div>
        <p *ngIf="password.valid && (password.dirty || password.touched)" class="text-red-800 text-sm">Please enter valid password</p>
        <div class="my-5 w-full">
            <label for="password">Confirm Password</label>
            <input type="password" id="confirmpassword" class="p-2 rounded  w-full border"
                    placeholder="Confirm Password" [(ngModel)]="form.confirmPassword" name="confirmPassword"
                    #confirmPassword="ngModel" required 
            />
        </div>
        <p *ngIf="confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)" class="text-red-800 text-sm">Please enter valid Confirm Password</p>
        <div class="my-5 w-full">
            <input type="submit" [disabled]='myForm.form.invalid' class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded" />
        </div>
    </form>
</div>
