<p>Programming Books List!</p>
<button (click)="toogleBooks()">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>
    <!-- <input type="text" [(ngModel)]="Name" /> -->
<!-- <span>{{Name}}</span> -->
<ul *ngIf="isShowing">
    <ng-container *ngFor="let book of Books; let i=index">
        <li>
            {{i+1}}
            <img [src]=book.image [alt]=book.name width="100" />
            {{book.name | titlecase}} by {{book.author | titlecase}}
            {{book.amount | currency:'INR'}}
        </li>
    </ng-container>
</ul>