<!-- <app-books></app-books>
<app-cart></app-cart> -->
<nav class="flex justify-between p-4 bg-purple-900 text-white">
    <div>
        <a routerLink="">Pouch Shop</a>
    </div>
    <div>
        <ng-container *ngIf="!isAuthorized()">
            <a class="mx-4" routerLink="/register">Register</a>
            <a class="mx-4" routerLink="/login">Login</a>
        </ng-container>
        <ng-container *ngIf="isAuthorized()">
            <a class="mx-4" routerLink="/cart">My Cart</a>
            </ng-container>
    </div>
</nav>
<div class="p-4">
    <router-outlet></router-outlet>
</div>  